# kovan chain ID
CHAIN_ID=42

# USDC
TOKEN0_ADDRESS=0x0Af08696CB51e81456DC0a1dee7F8BfAD8d82a22
TOKEN0_DECIMAL=6

# WETH
TOKEN1_ADDRESS=0x1673801682F5EAE287Bb7081Cf7d0D1d768E661a
TOKEN1_DECIMAL=18

ALCHEMY_URL=

# wallet
WALLET_PRIVATE_KEY=
